.vscode/

outputs/
simul_data/


*__pycache__/
*.pyc

MCI_ADV2/results/
MCI_ADV2/experiment_logs/
MCI_ADV2/scenarios/*/
MCI_ADV2/!scenarios/*

.claude/
MCI_ADV2/visualizations/

#ddpm 실험 결과
experiment/

# 실험 결과 파일 
eval/eval_results/

# evaluation을 취한 데이터셋 
src/data/dataset/dataset4eval/